{% extends 'core/base.html'%}
{% block content %}
<h2>Search in google API </h2>
<div class="float-container" style="padding: 20px;">
    <div style="width: 50%;
    padding: 20px;">
    <form action="{% url 'search-book-google-api' %}" method="get">
          <input name="q" type="text" placeholder="Q...">
          <input name="intitle" type="text" placeholder="Intitle...">
          <input name="inauthor" type="text" placeholder="Inauthor...">
          <input name="inpublisher" type="text" placeholder="Inpublisher...">
          <input name="subject" type="text" placeholder="Subject...">
          <input name="isbn" type="text" placeholder="ISBN...">
          <input name="lccn" type="text" placeholder="LCCN...">
          <input name="oclc" type="text" placeholder="OCLC...">
          <button type="submit" class="btn btn-primary">Search</button>
    </form>
    </div>
</div>
<div class="float-container" style="padding: 20px;">
    <div style="width: 50%;
    float: left;
    padding: 20px;">
<h2>Search normal view </h2>
    <form action="{% url 'search-book' %}" method="get">
          <input name="title" type="text" placeholder="Title..." style="width:100%;">
          <input name="author" type="text" placeholder="Author...">
          <input name="language" type="text" placeholder="Language...">
          <table>
                <tr>
                    <td><input type="date" class="datepicker" name="datest"> </td>
                    <td style="width:5%"> between </td>
                    <td><input type="date"  class="datepicker" name="datend"></td>
                    <br>
                    <td><button type="submit" class="btn btn-primary">Search</button></td>
                </tr>
          </table>
    </form>
</div>
<div style="width: 50%;
    float: left;
    padding: 20px;">
<h2>Search API view </h2>
    <form action="{% url 'search-book-api' %}" method="get">
          <input name="title" type="text" placeholder="Title..." style="width:100%;">
          <input name="author" type="text" placeholder="Author...">
          <input name="language" type="text" placeholder="Language...">
          <table>
                <tr>
                    <td><input type="date" class="datepicker" name="datest"> </td>
                    <td style="width:5%"> between </td>
                    <td><input type="date"  class="datepicker" name="datend"></td>
                    <br>
                    <td><button type="submit" class="btn btn-primary">Search</button></td>
                </tr>
          </table>
    </form>
</div>
</div>
    <div class="mb-2 text-end mt-5">
        <a class="btn btn-primary" href="{% url 'create-book' %}">
            Add new book
        </a>
    </div>
    <div class="border">
      <div class="table-responsive">
        <table class="table table-light table-striped table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication date</th>
                <th>ISBN</th>
                <th>Pages</th>
                <th>Poster</th>
                <th>Language</th>
                <th>Action</th>
            </tr>
            </thead>
           {% for object in object_list%}
                <tr>
                    <td>{{object.title}}</td>
                    <td>{{object.autor}}</td>
                    <td>{{object.date_publish}}</td>
                    <td>{{object.ISBN_number}}</td>
                    <td>{{object.counts_page}}</td>
                    <td>{{object.link_poster}}</td>
                    <td>{{object.language}}</td>
                    <td>
                        <a class="btn btn-warning">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
  </div>
{% endblock%}